<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{30,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,62}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
            <key>fire02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,66}}</string>
                <key>sourceSize</key>
                <string>{30,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missileFire.png</string>
            <key>size</key>
            <string>{34,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71a04d8d6eca1fc273fbda74c2f69bd0:45fbdceeb2f0d0f42c15fb59d3eb4e03:5c3cf15065737d1b4a94a19ad4734d3b$</string>
            <key>textureFileName</key>
            <string>missileFire.png</string>
        </dict>
    </dict>
</plist>
