<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>M_01-1_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,52},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>M_01-2_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,52},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>M_01-3_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,488},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>M_02-1_silver.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,391},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>M_02-2_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,3},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>M_03-1_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,391},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>M_03-2_golden.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,3},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>PlaneOne.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,100},{140,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>PlaneOneLeft0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,100},{140,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>PlaneOneLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,197},{136,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,93}}</string>
                <key>sourceSize</key>
                <string>{136,93}</string>
            </dict>
            <key>PlaneOneLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,391},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>PlaneOneLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,294},{104,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,93}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>PlaneOneRight0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,100},{140,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>PlaneOneRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,3},{136,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,93}}</string>
                <key>sourceSize</key>
                <string>{136,93}</string>
            </dict>
            <key>PlaneOneRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,391},{124,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>PlaneOneRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,197},{104,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,93}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>planeGlod.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{140,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>planeGlodLeft0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{140,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>planeGlodLeft1.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,294},{132,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{136,93}</string>
            </dict>
            <key>planeGlodLeft2.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,294},{110,93}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{110,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>planeGlodLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,391},{78,93}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>planeGlodRight0.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,3},{140,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,93}}</string>
                <key>sourceSize</key>
                <string>{140,93}</string>
            </dict>
            <key>planeGlodRight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,100},{132,93}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,93}}</string>
                <key>sourceSize</key>
                <string>{136,93}</string>
            </dict>
            <key>planeGlodRight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,197},{110,93}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{110,93}}</string>
                <key>sourceSize</key>
                <string>{124,93}</string>
            </dict>
            <key>planeGlodRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,100},{78,93}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>xuedi.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprites.pvr.ccz</string>
            <key>size</key>
            <string>{880,518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638069d5c9bfa5ea9db2e4234a707b4b:a806a3afdbb72d6ae1ff6ad61fbb3682:65190eda994a633aa977088176b54359$</string>
            <key>textureFileName</key>
            <string>sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
