<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird1_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,406},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird1_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,304},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird1_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,202},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird1_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird1_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,312},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird1_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{100,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird2_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{104,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird2_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{104,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird2_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{104,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird2_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird2_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bird2_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{104,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>die_level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,186},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>die_level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,100},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>die_level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,414},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>die_level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,414},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>die_level4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>die_level5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{96,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{96,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28a171555299af19abb027b3d6803b19:d6e5d6a609a803862d1d0c9a58779bc9:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
